@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --wrapper-width: 1400px;
  --font-sans: 'Public Sans', sans-serif;
  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

@layer components {
  body{
    @apply  bg-[#e0e0e0]  antialiased ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .wrapper {
    @apply relative mx-auto min-h-screen w-full bg-white dark:bg-gray-900;
    max-width: var(--wrapper-width);
  
    /* End of component styles */
  }

  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}